node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/prod

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Database files (if any local development databases are created)
*.db
.trae
env-text.text
